@charset "utf-8";
:root {
	--sfondo-tema-scuro: #000;
	--sfondo-hover-tema-scuro: #222;
	--sfondo-alt-tema-scuro: #333;
	--testo-tema-scuro: #fff;
	--colore-primario: hsl(304, 100%, 46%);
	--colore-primario-alt: hsl(272, 100%, 54%);
	--colore-secondario: hsl(183, 90%, 41%);
	--colore-secondario-alt: hsl(159, 96%, 40%);
	--font-corpo: 'ubuntu mono', Consolas, monospace;
}

* {
	box-sizing: border-box;
}

/* CSS GRID SYSTEM ---------------------------------------------- */

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

[class*="col-"] {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

@media only screen and (max-width: 1000px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
		display: block;
	}
}

@media only screen and (max-width: 600px) {
	.table0 td {
		display: block;
		width: 100%;
	}
	.table0 th {
		display: block;
		width: 100%;
	}
}

/* FINE CSS GRID SYSTEM ----------------------------------------- */

body {
	margin: 10px;
	background: black;
	color: var(--colore-secondario);
	font-family: var(--font-corpo);
	overflow-y: scroll;
}

p {
	display: inline;
}

svg.icon {
	--size: 12px;
	height: var(--size);
	width: var(--size);
	vertical-align: text-bottom;
}

svg.library {
	display: none;
}

tr:hover {
	background: var(--sfondo-hover-tema-scuro);
	color: var(--testo-tema-scuro);
}

hr {
	border: none;
	border-top: 1px solid var(--sfondo-alt-tema-scuro);
}

/* non usate */

.fas {
	display: inline-block;
	width: 16px;
	height: 13px;
}

.displayed {
	display: run-in;
}

/* FINE non usate */

#pulsanteGenera {
	cursor: pointer;
	font-family: inherit;
	font-weight: 1000;
	width: 15em;
	background: transparent;
	border: none;
	padding: 8px 12px;
	border-radius: 10px;
	letter-spacing: 1.5px;
	transition: 0.3s;
	text-transform: uppercase;
	margin-top: 30px;
	position: relative;
	color: var(--colore-secondario);
	box-shadow: 0px 0px 2px 2px currentColor;
	animation: alternareColoreSecondario 0.5s infinite alternate;
}

#pulsanteGenera:not(:hover)::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	box-shadow: 0px 0px 4px 4px currentColor;
	border-radius: inherit;
	animation: lampeggia 200ms linear infinite alternate;
}

#pulsanteGenera:hover {
	animation-name: alternareColoreSecondarioSfondo;
	color: var(--sfondo-tema-scuro);
	background: var(--colore-secondario);
	box-shadow: none;
}

.logo {
	display: block;
	width: 100%;
	max-width: 500px;
	margin: auto;
	animation: cambioTonalita 200ms infinite alternate;
}

#pulsanteStampa {
	display: none;
}

.withUnderscore th:not(.noHover):after {
	content: '_';
	speak: none;
	font-weight: 800;
	opacity: 0;
	animation: lampeggiaCursoreTesto 500ms linear infinite 1s;
}

.cerchio {
	height: 10px;
	width: 10px;
	display: inline-block;
	border-radius: 100%;
	background: var(--testo-tema-scuro);
	margin-right: 10px;
}

.slot {
	background: black;
	border: 2px solid #666;
}

.slotSemiAccesa {
	background: #20ff9b;
	border: 2px solid #20ff9b;
}

.slotAccesa {
	background: #ff2160;
	border: 2px solid #ff2160;
}

.line {
	margin-top: 15px;
	height: 2px;
	width: 100%;
	background: var(--sfondo-alt-tema-scuro);
}

table {
	font-weight: 300;
	text-align: left;
	color: var(--colore-secondario);
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 2px 2px var(--testo-tema-scuro);
	width: 100%;
}

th {
	white-space: nowrap;
}

th, td {
	vertical-align: top;
	line-height: 1;
}

.table0 {
	width: 100%;
}

p.titolo {
	line-height: 1;
}

th, td {
	padding: 0 10px 2px 0;
}

.table0 td {
	width: 90%;
}

.titolo {
	color: var(--colore-primario);
	font-weight: 300;
	position: relative;
}

.noHover:hover {
	background: transparent;
}

#table1 th, #table1 td {
	width: 33%;
}

#table2 th, #table2 td {
	width: 50%;
}

#table3 {
	box-shadow: 0px 0px 2px 2px var(--colore-primario);
	padding-bottom: 0;
}

#table3 tbody:not([style*="display: none"])::after {
	content: '';
	display: table-row;
	height: 10px;
}

#table3 th {
	font-weight: 300;
}

.header-button {
	padding: 0;
}

#infoToggler {
	cursor: pointer;
	color: var(--testo-tema-scuro);
	background: inherit;
	font: inherit;
	line-height: 2;
	border: none;
	padding: 0;
	margin: -10px 0 0 -10px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% + 20px);
}

/* ANIMAZIONI --------------------------------------------------- */

/* Modo Performante --------------------------------------------- */

[data-text] {
	position: relative;
}

[data-text]:before {
	content: attr(data-text);
	speak: none;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: inherit;
	opacity: 0;
	animation: lampeggia 200ms infinite alternate 1s;
}

.testo:before {
	color: var(--colore-secondario-alt);
}

.titolo:before {
	color: var(--colore-primario-alt);
}

tr:hover .testo:before {
	opacity: 1;
	color: var(--testo-tema-scuro);
}

/* FINE Modo Performante ---------------------------------------- */

/**
 * DEBUG ALTRE MODALITÁ ----------------------------------------- *
	body[class]:before {
		content: attr(class);
	}

	body[class] [data-text]:before {
		content: none;
	}
/*/

/* Modo Semi-Performante ---------------------------------------- */

.animazione-colore .testo {
	animation: alternareColoreSecondario 200ms infinite alternate;
}

.animazione-colore .titolo {
	animation: alternareColorePrimario 200ms infinite alternate;
}

/* FINE Modo Semi-Performante ----------------------------------- */

/* Modo Non-Performante ----------------------------------------- */

.animazione-tonalita .testo {
	animation: cambioTonalita 200ms infinite alternate;
}

.animazione-tonalita .titolo {
	animation: cambioTonalita 200ms infinite alternate;
}

/* FINE Modo Non-Performante ------------------------------------ */

/* KEYFRAMES ANIMAZIONI ----------------------------------------- */

@keyframes alternareColorePrimario {
	to {
		color: var(--colore-primario-alt);
	}
}

@keyframes alternareColoreSecondario {
	to {
		color: var(--colore-secondario-alt);
	}
}

@keyframes alternareColoreSecondarioSfondo {
	to {
		background: var(--colore-secondario-alt);
	}
}

@keyframes cambioTonalita {
	/* previamente: sbarbella */
	from {
		filter: hue-rotate(-27deg);
	}
	to {
		filter: hue-rotate(0deg);
	}
}

@keyframes pulsa {
	from {
		box-shadow: 0px 0px 2px 2px var(--colore-secondario);
	}
	to {
		box-shadow: 0px 0px 4px 4px var(--colore-secondario);
	}
}

@keyframes lampeggia {
	to {
		opacity: 1;
	}
}

@keyframes lampeggiaCursoreTesto {
	0%, 50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}