@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
	-webkit-animation: sbarbella 0.2s infinite alternate;
	cursor: default
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
		display: block;

    }
}


#img {
	text-align: center;
}
body {
	margin: 3%;
	background: black;
	color: #ea00d9;
	font-family: ubuntu mono;
	font-size: 0.8em;
	line-height: 1.4em;
}

tr:hover {
	background: #222;
	animation: none;
	color: white;
}

hr{
	border: none;
	border-top: 1px solid #333;
}

button {
	cursor: pointer;
	font-family: ubuntu mono;
	font-weight: 1000;
	color: #0abdc6;
	width: 15em;
	background: black;
	border: none;
	padding: 8px 12px;
	border-radius: 10px;
	letter-spacing:1.5px;
	transition: 0.3s;
	text-transform: uppercase;
	margin-top:30px;
	-webkit-animation: pulsa 0.5s infinite alternate;
}

button:hover {
	animation: none;
	transition: 0s;
	color:black;
	background: #0abdc6;
	box-shadow: none}


#pulsanteStampa {
	display: none;
}


.underscore{
	font-weight: 800;
	-webkit-animation: lampeggia 0.5s linear infinite;
}

@-webkit-keyframes sbarbella {
    from {
		filter: hue-rotate(-3deg);
	}
    to {
		filter: hue-rotate(0deg);
	}
}


@-webkit-keyframes pulsa {
    from {box-shadow: 0px 0px 2px 2px #0abdc6;}
	to {box-shadow: 0px 0px 4px 4px #0abdc6;}
}

@-webkit-keyframes lampeggia {
    50% {opacity: 0}
	100% {opacity: 1}
}

.cerchio {
	height: 10px;
	width: 10px;
	display: inline;
	border-radius: 100%;
	background: white;
	margin-right: 10px;
}

.slot {
	background: black;
	border: 2px solid #666;
}

.slotSemiAccesa {
	background: #20ff9b;
	border: 2px solid #20ff9b;
}

.slotAccesa {
	background: #ff2160;
	border: 2px solid #ff2160;
}

.line {
	margin-top:15px;
	height: 2px;
	width: 100%;
	background: #222;
}

table {
	background: black;
	font-weight: 300;
/*	border: 1px solid #fff;*/
	text-align: left;
	color: #0abdc6;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 2px 2px white;
	width: 100%;
}
th {
 white-space: nowrap;
}
#table0 {
	width: 100%;
}

#table0 th {
	color: #ea00d9;
	font-weight: 300;
}

#table0 td {
	width: 90%;
}

#table1 th, #table1 td {
	width:33%;
}


#table2 th, #table2 td {
	width:50%;
}

#table3 {
	box-shadow: 0px 0px 2px 2px #ea00d9;
}

#table3 th {
	width:33%;
	font-weight: 300;
}

#table3 .titoloTabella {
	white-space: normal;
	color: white;
}


.titoloTabella {
	color: #ea00d9;
	font-weight: 300;
}

.fa-plus {
	float:right;
	cursor: pointer;
}

.displayed {
	display: run-in;
}

.noHover:hover {
	background: black;
}

p {
	display:inline;
}
